
 button{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 5px;
    border: 2px solid black;

}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(146, 192, 192);
    align-items: center;
}
h1{
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

button:hover{color: hotpink;}

#taskInput{
    height: 2.1vw;
}

ul{
    list-style-type: none;
}

.delete-button{
    background-color: red;
    float: right;
    width: 70px;
   
}

li{
    width: 80vw;
    border: 1px solid gray;
    padding: 10px;
    margin: 16px;
    box-shadow: 0 2px 4px black;
}
 
#taskList{
    background-color: white;
}

 